.button {
    align-self: flex-end;
    background-color: var(--color-save);
    border: 1px solid var(--color-save-dark);
    border-radius: 3px;
    color: var(--color-neutral-light);
    font-size: 14px;
    height: 32px;
    margin: 4px 0;
    max-width: 80px;
    padding: 0 12px;
}

.disabled {
    composes: button;
    background-color: var(--color-neutral-dark);
    border: 1px solid var(--color-neutral-dark);
}
