<%= csrf_meta_tags %>
<div id="csrf-token" data-csrf-token="<%= @csrf_token %>"></div>
<h1>Welcome</h1>
<p>This is Andre's Minecraft Server.</p>

<%= javascript_pack_tag 'signup_app' %>
<div id="status-container"></div>
<%= javascript_pack_tag 'status_app' %>