<h3>Hello, <%= @name %>!</h3>
<div class="message-body">
  <p>Andre has received your request for you to participate on Andre's Server. He's getting an email just like this, so don't worry--he'll get to it quickly.</p>
</div>