<h3>Hey <%= @name %>,</h3>
<div class="message-body">
  <p>Your request to access and startup the server has been rejected. This could be for a variety of reasons, including that his finger slipped when accepting your request. Reach out to him to find out what's up.</p>
</div>